VITE_FIREBASE_API_KEY="your firebase key"
VITE_FIREBASE_AUTH_DOMAIN="your firebase auth domain"
VITE_FIREBASE_PROJECT_ID="your firebase project id"
VITE_FIREBASE_STORAGE_BUCKET="your firebase storage bucket"
VITE_FIREBASE_MESSAGING_SENDER_ID="messaging id"
VITE_FIREBASE_APP_ID="firebase aspp id"
VITE_FIREBASE_MEASUREMENT_ID="measurement id"
# VITE_BASE_URL_BACKEND=https://notes-online.onrender.com
VITE_GA_MEASUREMENT_ID=""
VITE_BASE_URL_BACKEND=""